$white: #fff;
$white-light:#e9ecef;
$white-lighter:#e7ebf2;
$grey: #ccc;
$red: #e50914;
$black: #000000;
$black-dark: #111111;
$blue:#1CB5E0;
$white-back-button:#efefef;
$white-back-button-hover:#dedede;
